.snowFlakeAnimationSnowFlake {
    position: fixed;
    color: white;
    font-family: "Arial", Times, serif;
    white-space: nowrap;
    opacity: 0;
    will-change: transform; /* Optimize transfomations on own layer => Chrome */
    transform: translateZ(0); /* Layer creation optimization for Safari */
}
